@font-face {
	font-family: 'icomoon';
	src:url('fuente/icomoon.eot?-8t793n');
	src:url('fuente/icomoon.eot?#iefix-8t793n') format('embedded-opentype'),
		url('fuente/icomoon.woff?-8t793n') format('woff'),
		url('fuente/icomoon.ttf?-8t793n') format('truetype'),
		url('fuente/icomoon.svg?-8t793n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-flecha-up:before {
	content: "\f062";
}
.icon-fecha-ariba:before {
	content: "\f063";
	color: #dd4f24;
	text-decoration: none;
}
.icon-lapiz:before {
	content: "\e600";
	margin-right: 0.8em;

}
.icon-pen:before {
	content: "\e601";
}
.icon-star:before {
	content: "\e602";
	color: #ffbe2c;
	margin-right: 0.4em;
	position: relative;
	top: 0.1em;
}

body{
	background: #EEEEEE;
}
a{
	color: #22bce0;
	font-family: Arial;
	font-size: 16px;
}
header{
	color: #fff;
	background: #343b54;
	padding: 0.5em;
	overflow: hidden;
	position: relative;
}
footer p:first-child{
	margin-bottom: 0;
}
footer p:last-child:before{
	content: "- ";
}
footer p:last-child:after{
	content: " -";
}
footer p:last-child{
	margin-top: 0;
}
footer{
	background: #22bce0;
	text-align: center;
	color: rgba(225,225,225,0.7);
	padding: 1em;
}
header figure
{
	float: left;
	margin: 1em;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.5em 70px 0 0;
}
header #logo{
	border-right: 1px solid white;
	margin-right: 0.5em;
}
header #logo img
{
	margin-right: 0.5em;
	width: 52px;
	padding-right: 0.5em;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
header #logo img:hover{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
}
header #avatar
{
	margin: 1.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
header #avatar img
{
	width: 55px;
	border-radius: 50%;
}
nav
{
	background: #8688C2;/*#8688C2 80bca3*/
	padding: 0 5em 0 0;
	position: relative;
}
nav ul  li a:hover{
	background: #80bca3;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	margin: 0 1em 0 0;
}
nav ul li a{
	color: #fff;
	display: block;
	padding: 0.5em;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}
nav ul #publicar_nav a{
	background: #22bce0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	padding: 0.8em 0.5em 0.8em 2.5em;
	text-decoration: none;
	font-style: italic;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
nav ul #publicar_nav a:before{
	position: absolute;
	left: 0.5em;
	top: 0.9em;
}
nav ul #publicar_nav a:hover:before{
	font-size: 20px;
	
}
nav ul #publicar_nav
{
	position: absolute;
	top: -0.4em;
	right: 0;
}
#contenido{
	margin: 1em;
}
#contenido .item{
	background: #fff;
	border-bottom: 3px solid #22bce0;
	position: relative;
	min-height: 128px;
	margin-bottom: 3em;

}
#contenido .item .autor_item{
	color: #aaa;
}
#contenido .item .datos_item .fecha_item{
	color: #AAA;
}
#contenido .item .datos_item{
	margin: 1em 1em 0 0;
	text-align: right;
}
#contenido .item .datos_item .tag_item{
	background: #F4502a;
	color:#fff;
	border-radius: 0.5em;
	display: inline-block;
	float: left;
	text-decoration: none;
	padding: 0.2em 0.5em;
}
#contenido .item .imagen_item{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img{
	width: 96px;
}
#contenido .item .titulo_item{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
}
#contenido .item .titulo_item a {
	color: #444;
	text-decoration: none;
}
#contenido .item .votacion{
	margin-top: 3px;
	position: absolute;
	border-radius: 0 0 0.5em 0.5em;
	top: 100%;
	background: #fff;
	width: 90%;
	left: 5%;
	padding: 0.2em 0.5em

}
#contenido .item .votacion a
{
 text-decoration: none;
}
#contenido .item .votacion .comentario_item,
#contenido .item .votacion .guardar_item{
	float: right;
}
@media screen and (min-width:800px ){
	#contenido{
		overflow: hidden;
	}
	#contenido .item{
		width: 49%;
		float: left;
		margin-top: 1
	}
	#contenido .item:nth-child(odd){
		
		margin-right: 2%;
	}
}